body {
	font-family: 'Domine', serif;
	color: black;
	background-color: white;
}

.highlight {
	background-color: #e8eaee;
}

.primary {
	background-color: #006dff;
}

.accent {
	background-color: #c600d5;
}

hr {
	height: 3px !important;
	background-image: linear-gradient(to right, transparent, gray, black, gray, transparent) !important;
}